<footer class="text-center text-white position-absolute bottom-0 w-100" style="background-color: #f1f1f1;">
  <!-- Grid container -->
  <div class="container pt-4">
    <section class="mb-4">
    
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-dark p-3 text-decoration-none" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
   <%= link_to "lets_play.com",albums_path, class: 'text-decoration-none'%>
  </div>
  <!-- Copyright -->
</footer>