 
 <%= render "nav" %>
       <div class="container">
              <div class="d-flex justify-content-center">
                 <%= render "form"  %>
                </div>
       </div>
<%= render "footer" %>